html, body {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    

}
#uiboX {
    justify-content: center;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
     align-items: center; 
    height:30%;
    width:50%;
    background-color:rgb(189, 216, 191);
    border-radius: 10px;
}
    

#container {

    
    display:flex;
    justify-content:center;
    align-content:center;
    width: 100%;
    height:100%;
    
    
}
    
    
    
    
.iNputbox {
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}
 h1 { text-align: center;
     font-size:xx-large;
     font-style:italic;
     font-weight:bolder;
     
     
     

 }
 .buTTon {
    width:30%;
    text-align: center;
    color: rgb(245, 252, 252);
    background-color: rgb(19, 53, 204);
    border-radius: 5px;
    padding: 5px 10px 8px 10px;
}


.buTTon:hover {

     animation-name: background-color;
     animation-duration: 500ms;
     animation-fill-mode: forwards;
 }

 @keyframes background-color {
     100% {
        background-color:#4791d0;
     }
 }

